@charset "utf-8";
#bottles {
  background-color: #9b59b6;
}
#cans,
#cardboardboxes {
  background-color: #f1c40f;
}
#petbottles,
#fluorescentbulbs {
  background-color: #3498db;
}
#plastic {
  background-color: #e67e22;
}
#burnable {
  background-color: #19b698;
}
#nonburnable {
  background-color: #2980b9;
}
